.header{
    padding: 1rem 0;

    .toggle-menu{
        display: none;
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: space-around;

        .menu{
            display: flex;
            align-items: center;
            gap: 5rem;
            .menu-links{
                list-style: none;
                .link{
                    text-decoration:none;
                    text-transform: uppercase;
                }
            }
            .logOut{
                background: #744BFC;
                padding: 12px;
                border-radius: 16px;
                transition: .3s;
                border: 1px solid #744BFC;
                a{
                    color: #fff;
                }&:hover{
                    background: #fff;
                    border: 1px solid #744BFC;
                    a{
                        color: #744BFC;
                    }
                }
            }
        }

        .socials{
            .social-list{
                display: flex;
                align-items: center;
                gap: 1rem;
                list-style: none;
                .social{
                    a{
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 900px) {
    .socials{
        display: none;
    }
}