<div class="container-form">
    <img src="../../../../assets/images/brand.png" alt="logo" class="logo">
    <div class="form-box">
      <div class="form-header">
        <span>Giriş Yapınız</span>
      </div>
      <div class="form-content">
        <form #form="ngForm" (ngSubmit)="login(form)">
          <label for="email">Email</label>
          <input type="email" name="email" class="input" #email="ngModel" email required ngModel>
          <span *ngIf="email.invalid && (email.dirty || email.touched)">
            <span ngClass="valid" *ngIf="email.errors?.['required']">{{'Email adresinizi girmelisiniz!' | titlecase}}</span>
            <span ngClass="valid" *ngIf="email.errors?.['email']">{{'geçerli bir e-mail giriniz!' | titlecase}}</span>
          </span>
          <label for="password">Password</label>
          <input type="password" name="password" class="input" #password="ngModel" ngModel required minlength="6">
          <span *ngIf="password.invalid && (password.dirty || password.touched)">
            <span ngClass="valid" *ngIf="password.errors?.['required']">{{'Parolanızı girmelisiniz!' | titlecase}}</span>
            <span ngClass="valid" *ngIf="password.errors?.['minlength']">{{ 'Parola 6 karakterden az olamaz!' | titlecase}}</span>
          </span>
        </form>
      </div>
      <div class="form-footer">
        <span>{{ 'henüz hesabım yok?' | titlecase }}
          <a class="register" [routerLink]="['/api/register']">Kayıt Ol
          </a>
        </span>
        <button class="login" (click)="login(form)">Giriş Yap</button>
      </div>
    </div>
</div>