<div class="container">
    <div class="form-box">
        <form class="form">
            <h1 class="form--title">Sign In</h1>
    
            <input type="text" class="form-control" formControlName="email">
    
            <button type="submit" class="btn">
              Sign in
            </button>
    
            <div class="form--text">
              Don\'t have an account? &nbsp;
              <a routerLink="/auth/signup">Sign Up</a>
            </div>
          </form>
    </div>
</div>