.container-form{
    max-width: 90%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    background: #EFF2FF;
    border-radius: 8px;
    margin: 3% auto;   
    .logo{
        position: absolute;
        top: 15%;
        left: 10%;
    }
    .form-box{
        background: #fff;
        width: 40%;
        height: auto;
        padding: 36px;
        border-radius: 39px;
        .form-header{
            width: 100%;
            height: 20%;
            padding: 12px;
            span{
                display: inline;
                float: inline-end;
            }
        }
        .form-content{
            form{
                width: 100%;
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 12px;
                padding: 12px;
                label{
                    font-family: Poppins, sans-serif;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 19.5px;
                    color: #8C8C8C;
                }
                .input{
                    width: 100%;
                    height: 40px;
                    border-radius: 38px;
                    border: 1px solid #D9D9D9;
                    padding: 12px;
                }
                .valid{
                    color: red;
                    font-size: .7rem;
                }
            }
        }
        .form-footer{
            height: 20%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px;
            span{
                font-size: .7rem;
            }
        
        .register{
            width: 82px;
            height: 37px;
            border-radius: 34px;
            cursor: pointer;
            transition: 0.3s;
            margin-left: 3px;
        }
        .login{
            color: #744BFC;
            transition: 0.3s;
            &:hover{
                color: #000;
            }
        }
        .register{
            background: #744BFC;
            border: 1px solid #F5F7FF;
            color: #F5F7FF;
            &:hover{
                background: #F5F7FF;
                border: 1px solid #744BFC;
                color: #744BFC;
            }
        }
        }
    }
}