.management-table{
    width: 1581px;
    max-width: 100%;
    height: 841px;
    border-radius: 6px;
    margin: 0 auto;
    padding: 2.5rem 4rem;
    background-color: #EFF2FF;
    position: relative;
    
        .table-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.5rem;
            .search-group{
                display: flex;
                align-items: center;
                .search{
                    width: 380px;
                    height: 42px;
                    border-radius: 39px 0px 0px 39px;
                    border:1px solid #EAEAEA;
                    padding: 12px;
                    &::placeholder{
                        font-family: "Inter", sans-serif;
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 16.94px;
                        text-align: left;
                        color: #8C8C8C;
                        padding-left: 16px;
                    }
                }
                .btn-search{
                    width: 45px;
                    height: 42px;
                    background: #744BFC;
                    border-radius: 0px 39px 39px 0px;
                    border: none;
                    cursor: pointer;
                    transition: 0.2s;
                    svg{
                        padding: 3px 3px 0 0;
                    }
                    &:hover{
                        background: #fff;
                        svg{
                            path[stroke]{
                                stroke: #744BFC;
                            }
                        }
                    }
                }
                .btn-filter{
                    width: 49px;
                    height: 42px;
                    border-radius: 29px;
                    background: #FFFFFF;
                    border: 1px solid #fff;
                    margin-left: .5rem;
                    padding-top: 4px;
                    cursor: pointer;
                    transition: 0.2s;
                    &:hover{
                        background: #744BFC;
                        border: 1px solid #744BFC;
                        svg{
                            path[fill]{
                                fill: #fff;
                            }
                        }
                    }
                }   
            }
            .new-account{
                .btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;
                    background: #744BFC;
                    width: 175px;
                    height: 42px;
                    border-radius: 39px;
                    border: 1px solid #fff;
                    border: none;
                    color: #fff;
                    cursor: pointer;
                    transition: 0.2s;
                    &:hover{
                        color: #744BFC;
                        background: #fff;
                        border: 1px solid #744BFC;
                        svg{
                            path[stroke]{
                                stroke: #744BFC;
                            }
                        }
                    }
                }
            }
        }
        .table-section{
            width: 1430px;
            max-width: 100%;
            table-layout:fixed;
            border-collapse: collapse;
            margin-bottom: 20px;
            .table{
                border-radius: 8px;
                border: 1px solid #EAEAEA;
                width: 100%;
                .table-head-cell{
                    background: #fff;
                    height: 63.04px;
                    width: auto;
                    div{
                        display: flex;
                        justify-content:space-around;
                        align-items: center;
                    }
                    &:first-child{
                        border-top-left-radius: 8px;
                    }
                    &:last-child{
                        border-top-right-radius: 8px;
                    }
                }
                tr{
                    
                    height: 63px;
                    .table-body-cell,a{
                        width: 30%;
                        font-family: Inter, sans-serif;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 14.52px;
                        padding-left: 6%;
                        a{
                            text-decoration: none;
                            color: #000;     
                            font-family: Inter, sans-serif;
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 14.52px;
                        }
                        &:last-child{
                            border-bottom-right-radius: 8px;     
                        }
                        &:first-child{
                            border-bottom-left-radius: 8px;
                        }
                        &:last-child{
                            padding: 0;
                        }
                        .actions{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 12px;
                        }
                    }
                    &:nth-child(even){
                        background:#fff;
                        opacity: 60%;
                    }
                }
            } 
        }
        .table-footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .page{
                span{
                    color: #744BFC;
                    font-family: Poppins;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 18px;
                    padding:0 12px;
                }
                #select{
                    padding: 0 16px;
                    width: 90px;
                    height: 37px;
                    border-radius: 39px;
                    border: 1px solid #CFC0FF;
                    -moz-appearance:none; /* Firefox */
                    -webkit-appearance:none; /* Safari and Chrome */
                    appearance:none;
                    background-image: url("../../../../assets/images/arrows.png");
                    background-repeat: no-repeat;
                    background-position-x: 80%;
                    background-size: 10px 17px;
                    background-position-y: 50%;
                    position: absolute;
                    cursor: pointer;
                }
            }
            .pagi{
                padding: 0 6px;
                font-family: Poppins;
                font-size: 10px;
                font-weight: 400;
                text-align: center;
                .arrow{
                    color: #744BFC;
                    border: none;
                }
                span{
                    color: #C9C9C9;
                    padding: 8px;
                }
            }
        }
}



@media only screen and (max-width: 1000px) {
    .management-table{
        .table-header{
            .search-group{
              .search{
                  width: 260px !important;
              }
            }
        }
    }
}
@media only screen and (max-width: 720px) {
    .management-table{
        .table-header{
            .search-group{
                display: none;
            }
        }
        .table-section{
            .table{
                thead{
                    tr{
                        th{
                            &:last-child{
                                display: none;
                            }
                        }
                    }
                }
            }
            tr{
                .table-body-cell{
                    &:last-child{
                        display: none;
                    }
                }
            }
        }
    }
   
}